* {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 25px 0 25px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.logo-image {
    width: 450px;
    height: 350px;
    margin:  144px 0 123px 125px;
    display:inline-block
    
}

.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}

section {
    display: inline-block;
    margin: auto 148px 266px 86px;
    
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
   
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;  
    margin: 16px 0;
}

.button-main {
    background: #ADFF00;
    border-radius: 32px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width:916px)  {
    .logo-image {
        margin: 80px auto 24px;
        width: 330px;
        height: auto;
       display: block;

    }

    section {
        display: block;
        margin: 0 auto;
       
    }

    h1{
        font-size: 50px;
        line-height: 61px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        line-height: 37px;
        text-align: center;
          
    }

    header,p {
        display: none;
    }

    button {
        margin: 17px auto;
        display: block;
    }

   

   
}   
    
